/* LOGO */
@import url("https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap");

/* NAVBAR */
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");

/* TARJETAS */
@import url("https://fonts.googleapis.com/css2?family=Gruppo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap");

/* SECCION PRINCIPAL */
@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap");
/* font-family: 'Oxygen', sans-serif; */

@font-face {
	font-family: "icons";
	src: url("../fonts/WebSymbols-Regular/WebSymbols-Regular.svg#WebSymbolsRegular")
			format("svg"),
		url("../fonts/WebSymbols-Regular/WebSymbols-Regular.eot");
	src: url("../fonts/WebSymbols-Regular/WebSymbols-Regular.eot#iefix")
			format("embed"),
		url("../fonts/WebSymbols-Regular/WebSymbols-Regular.woff") format("woff"),
		url("../fonts/WebSymbols-Regular/WebSymbols-Regular.ttf") format("ttf");
	font-weight: normal;
	font-style: normal;
}

/* GENERALES */
* {
	margin: 0px;
	padding: 0px;
}

body {
	background-image: url("../img/pattern.jpg");
}

.wrap {
	width: 1200px;
	margin: 0px auto;
}

/* HEADER */
#header {
	width: 100%;
	height: 70px;
	background-color: #343b5e;
	color: white;
}

#logo {
	float: left;
	width: 200px;
	background-color: #336a89;
	margin-top: 8px;
	text-align: center;
	letter-spacing: 1px;
	cursor: pointer;
	overflow: hidden;
	transition: all 300ms;
}

#logo .gear {
	display: block;
	float: left;
	font-size: 30px;
	font-family: "icons";
	margin-top: 8px;
	margin-left: 20px;
}

#logo h3 {
	display: block;
	float: right;
	font-size: 33px;
	font-family: "Bowlby One SC", cursive;
	margin-top: 4px;
	margin-right: 30px;
	transition: all 300ms;
}

/* BARRA DE NAVEGACION */
#menu {
	float: right;
	height: 70px;
	background: transparent;
}

#menu ul li {
	display: inline-block;
	margin: 0px 20px 0px 20px;
	font-size: 20px;
	font-family: "Cutive", serif;
	letter-spacing: 1px;
	line-height: 73px;
}

#menu ul li a {
	display: block;
	color: white;
	text-decoration: none;
	transition: all 200ms;
}

#menu ul li a:hover {
	color: #49aa99;
	transform: scale(1.1, 1.1);
}

/* BANNER */
#banner {
	width: 98%;
	height: 100px;
	border: 10px solid white;
	box-shadow: 0px 0px 2px gray;
	background-color: #49aa99;
	margin: 20px auto;
}

#banner h1 {
	display: block;
	width: 850px;
	color: white;
	margin: 27px auto;
	font-size: 50px;
	font-family: "Gruppo", cursive;
	letter-spacing: 2px;
	text-align: center;
	text-shadow: 3px 3px 2px #343b5e;
}

/* TARJETAS */
.card {
	width: 206px;
	height: 305px;
	overflow: hidden;
	margin: 17px;
	margin-top: 40px;
	float: left;
	box-shadow: 1px 1px 2px #ddd;
	background-color: white;
	cursor: pointer;
	transition: all 300ms;
}

.card .icon {
	display: block;
	width: 100%;
	height: 130px;
	font-size: 50px;
	font-family: "icons";
	line-height: 110px;
	text-align: center;
	margin: 0px auto;
}

.card .category {
	width: 100%;
	height: 50px;
	font-size: 22px;
	font-family: "Gruppo", cursive;
	text-shadow: 1px 0px 1px #343b5e;
	text-align: center;
	color: #336a89;
}

.card .description {
	margin: 1px auto;
	font-family: "Atkinson Hyperlegible", sans-serif;
	text-align: center;
	color: #343b5e;
}
