* {
  text-decoration: none;
  margin: 0px;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#container {
  width: 90%;
  height: auto;
  margin: 0px auto;
  border: 1px solid rgba(225, 225, 226, 0.8);
  box-shadow: 0px 0px 10px #ccc;
  margin-top: 40px;
  margin-bottom: 40px;
  min-height: 600px;
}
#container .logo h1 {
  font-family: Helvetica;
  font-style: italic;
  font-weight: 900;
  font-size: 35px;
  text-shadow: 1px 1px 0px #ccc;
}
#container #header {
  display: grid;
  grid-template-columns: 68% 30%;
  align-items: center;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(225, 225, 226, 0.8);
}
#container #header #menu {
  width: 100%;
  height: 100%;
  padding-right: 20px;
}
#container #header #menu > ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-content: center;
  height: 100%;
  list-style: none;
}
#container #header #menu a {
  color: #444;
  text-transform: uppercase;
  padding: 20px;
  transition: all 300ms;
}
#container #header #menu a:hover {
  background: #ccc;
  color: white;
}
#container #content {
  display: grid;
  grid-template-columns: 20% 1fr;
  align-items: start;
  justify-content: space-between;
  column-gap: 25px;
}
#container #content #projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  gap: 21px;
}
#container #content #projects .project {
  margin-right: 20px;
  margin-bottom: 25px;
  border: 1px solid #ccc;
}
#container #content #projects .project img {
  width: 100%;
}
#container #content #projects .project .project-info {
  padding: 10px;
}
#container #content #projects .project .project-info a {
  font-size: 16px;
  color: black;
  transition: all 300ms;
}
#container #content #projects .project .project-info a:hover {
  color: forestgreen;
}
#container #content #projects .project .project-info p {
  font-size: 16px;
  color: gray;
}
#container #content #sidebar {
  margin-right: 30px;
  padding: 15px;
}
#container #content #sidebar h2 {
  display: block;
  width: 100%;
  font-size: 18px;
  font-weight: 100;
  color: #444;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(225, 225, 226, 0.8);
}
#container #content #sidebar ul {
  list-style: none;
}
#container #content #sidebar ul li {
  padding-bottom: 20px;
}
#container #content #sidebar a {
  display: block;
  padding: 20px;
  background: #eee;
  color: #444;
  text-align: center;
  text-transform: uppercase;
  transition: all 300ms;
}
#container #content #sidebar a:hover {
  background: #444;
  color: #eee;
}
#container #footer {
  display: grid;
  grid-template-columns: 80% 20%;
  align-items: center;
  justify-content: baseline;
  height: 120px;
  align-items: center;
  border-top: 1px solid rgba(225, 225, 226, 0.8);
}
#container #footer .logo {
  order: 2;
  opacity: 0.5;
  margin-right: 20px;
}
#container #footer .info {
  order: 1;
  text-transform: uppercase;
  margin-left: 20px;
  color: #444;
}

@media (max-width: 1375px) {
  #container .logo {
    flex-basis: 60%;
  }
  #container #menu {
    flex-basis: 35%;
  }
}
@media (max-width: 1277px) {
  #container .logo {
    flex-basis: 55%;
  }
  #container #menu {
    flex-basis: 40%;
  }
}
@media (max-width: 1192px) {
  #container .logo {
    flex-basis: 50%;
  }
  #container #menu {
    flex-basis: 45%;
  }
}
@media (max-width: 1117px) {
  #container .logo {
    flex-basis: 45%;
  }
}
@media (max-width: 1052px) {
  #container .logo {
    flex-basis: 40%;
  }
  #container #menu {
    flex-basis: 50%;
  }
}
@media (max-width: 993px) {
  #container #header {
    text-align: center;
  }
  #container #header .logo {
    flex-basis: 65%;
  }
  #container #header #menu > ul {
    margin-top: 10px;
    flex-basis: 30%;
    align-items: flex-start;
    justify-content: space-evenly;
  }
}
@media (max-width: 768px) {
  #container #content {
    flex-direction: column;
  }
  #container #content #sidebar {
    flex-basis: 100%;
    margin-right: 0px;
  }
  #container #content #sidebar h2 {
    text-align: center;
  }
  #container #content #sidebar ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
  }
  #container #content #sidebar ul li {
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
  }
  #container #content #projects {
    flex-basis: 100%;
  }
  #container #content #projects .project {
    margin-right: 15px;
    margin-left: 15px;
  }
  #container #footer .logo {
    order: 1;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
  }
  #container #footer .info {
    order: 2;
    flex-grow: 1;
    flex-basis: 100%;
    text-align: center;
    margin: 0px;
  }
}
@media (max-width: 437px) {
  #container .logo h1 {
    font-size: 24px;
  }
  #container #header #menu ul a {
    font-size: 14px;
  }
  #container #footer .info {
    font-size: 13px;
  }
}
@media (max-width: 402px) {
  #container #header {
    height: 190px;
  }
  #container #header .logo {
    margin-left: 0px;
    text-align: start;
  }
  #container #header #menu {
    height: 80%;
    justify-content: space-between;
  }
  #container #header #menu ul {
    flex-direction: column;
    height: 70%;
  }
}
@media (max-width: 340px) {
  #container #footer .info {
    font-size: 12px;
  }
}

/*# sourceMappingURL=styles.css.map */
