@media (max-width: 1375px) {
	#container {
		.logo {
			flex-basis: 60%;
		}

		#menu {
			flex-basis: 35%;
		}
	}
}
@media (max-width: 1277px) {
	#container {
		.logo {
			flex-basis: 55%;
		}

		#menu {
			flex-basis: 40%;
		}
	}
}
@media (max-width: 1192px) {
	#container {
		.logo {
			flex-basis: 50%;
		}

		#menu {
			flex-basis: 45%;
		}
	}
}
@media (max-width: 1117px) {
	#container {
		.logo {
			flex-basis: 45%;
		}
	}
}
@media (max-width: 1052px) {
	#container {
		.logo {
			flex-basis: 40%;
		}

		#menu {
			flex-basis: 50%;
		}
	}
}
@media (max-width: 993px) {
	#container {
		#header {
			text-align: center;

			.logo {
				flex-basis: 65%;
			}
			#menu > ul {
				margin-top: 10px;
				flex-basis: 30%;
				align-items: flex-start;
				justify-content: space-evenly;
			}
		}
	}
}
@media (max-width: 768px) {
	#container {
		#content {
			flex-direction: column;

			#sidebar {
				flex-basis: 100%;
				margin-right: 0px;

				h2 {
					text-align: center;
				}

				ul {
					display: flex;
					flex-flow: row wrap;
					justify-content: space-evenly;

					li {
						flex-grow: 1;
						margin-left: 5px;
						margin-right: 5px;
					}
				}
			}
			#projects {
				flex-basis: 100%;

				.project {
					margin-right: 15px;
					margin-left: 15px;
				}
			}
		}
		#footer {
			.logo {
				order: 1;
				flex-grow: 1;
				flex-basis: 100%;
				text-align: center;
				margin: 0px;
			}
			.info {
				order: 2;
				flex-grow: 1;
				flex-basis: 100%;
				text-align: center;
				margin: 0px;
			}
		}
	}
}
@media (max-width: 437px) {
	#container {
		.logo h1 {
			font-size: 24px;
		}
		#header {
			#menu ul a {
				font-size: 14px;
			}
		}
		#footer {
			.info {
				font-size: 13px;
			}
		}
	}
}
@media (max-width: 402px) {
	#container {
		#header {
			height: 190px;
			.logo {
				margin-left: 0px;
				text-align: start;
			}
			#menu {
				height: 80%;
				justify-content: space-between;

				ul {
					flex-direction: column;
					height: 70%;
				}
			}
		}
	}
}
@media (max-width: 340px) {
	#container {
		#footer {
			.info {
				font-size: 12px;
			}
		}
	}
}
